<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ASPNET_SAMPLEDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\023\Class04\DB\ASPNET_SAMPLEDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>